@keyframes spin{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes ping{
    0% {
        scale: 0.5;
    }
    50%{
        scale: 1;
    }
    100% {
        scale: 0.5;
    }
}

@keyframes spin-reverse {
    0% {
        transform: rotate(-0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.spinner{
    animation: 
    spin 1s linear infinite,
    ping 2s linear infinite;
}

.spinner-reverse{
    animation: spin-reverse 1s linear infinite;
}



/* 방금 배운것 
1.  keyframes를 사용하여 애니메이션을 줄 수 있다
2.  layer components 안에 apply를 사용하여 테일윈드 유틸리티 클래스를 묶을 수 있다
3.  apply안에 직접작성한 css는 넣을 수 없다. */