@tailwind base;
@tailwind components; 
@tailwind utilities;


@layer components{
    .button-style{
        @apply cursor-pointer hover:bg-black transition-all duration-300 rounded-lg p-2 text-white font-bold mx-1
    }
    .button-style2{
        @apply w-20 h-10 bg-blue-500 rounded-2xl flex items-center justify-center text-white font-extrabold cursor-pointer hover:bg-gray-500
    }
}